<footer class="bg-gray-800 text-white p-4">
  <div class="container mx-auto text-center">
    <div class="flex justify-center space-x-6">
      <a
        href="https://github.com/AngelGa3L"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:text-gray-400"
      >
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/angel-guevara-guerrero-b8a1872b3"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:text-gray-400"
      >
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a
        href="mailto:angelgaelguevara@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:text-gray-400"
      >
        <i class="fas fa-envelope fa-2x"></i>
      </a>
    </div>
    <p>&copy; 2024 Angel. Todos los derechos reservados.</p>
  </div>
</footer>
