<section class="bg-gray-900 text-white h-screen flex items-center">
    <div class="container mx-auto text-center">
      <h1 class="text-5xl font-bold">Hola, soy Angel</h1>
      <p class="mt-4 text-xl">Desarrollador de Software</p>
    </div>
  </section>