<section id="projects" class="bg-white py-12">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-center mb-8">Proyectos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-gray-100 p-6 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-2">
          Aplicaion web de negocio de elotes
        </h3>
        <p class="text-gray-700">
          Desarrollé una aplicación web completa para un negocio local dedicado
          a la venta, compra y reparto de elotes. Este proyecto involucró el
          diseño y la implementación de una plataforma que permite a los
          usuarios realizar pedidos en línea, gestionar inventarios y coordinar
          las entregas de manera eficiente.
        </p>
      </div>
      <div class="bg-gray-100 p-6 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-2">Sistema de monitoreo WaterQA</h3>
        <p class="text-gray-700">
          Desarrollé WaterQA, un sistema integral de monitoreo del agua que
          permite la vigilancia en tiempo real de varios parámetros de calidad
          del agua. Este sistema incluye una interfaz web para la gestión y
          visualización de datos, una aplicación móvil para el acceso remoto y
          un conjunto de sensores conectados a través de un ESP32 para recopilar
          datos del agua.
        </p>
      </div>
      <div class="bg-gray-100 p-6 rounded-lg shadow-md">
        <h3 class="text-2xl font-bold mb-2">
          Sistema de Monitoreo WaterQA - Versión Mejorada
        </h3>
        <p class="text-gray-700">
          La versión mejorada de WaterQA es un sistema avanzado de monitoreo del
          agua que incluye una interfaz web actualizada con Laravel y Angular,
          una aplicación móvil para iOS y una Raspberry Pi para la visualización
          en tiempo real de los datos de los sensores. Este sistema permite un
          monitoreo aún más preciso y accesible de los parámetros de calidad del
          agua.
        </p>
      </div>
    </div>
  </div>
</section>
