---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Mi Portafolio</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>